@using Combres.Mvc

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="js no-flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>C O L E C 7 I V A  -  Contemporary. Art. Style  -  Welcome</title>

        @* Styles *@
        @Html.CombresLink("styles")
        @Html.CombresLink("scripts")
    </head>
    <body>

        @Html.Partial("Header")
        @RenderBody()
        @Html.Partial("Footer")
 

        @*Scripts Rendering*@
        @Html.CombresLink("framework")
        @Html.CombresLink("application")
    </body>
</html>
