<footer data-type="module" data-module="Collective.Home.Footer">

	<div class="shopping-cart">
        <img src="@Url.Content("~/Content/Images/myColec7iva-logoweb.png")" width="114" height="14" alt="MY COLEC7IVA" />
        <img class="colectiva-car" src="@Url.Content("~/Content/Images/C7-cart-icn.png")" width="26" height="20" alt="COLEC7IVA - Cart" />
        <span class="redbox" data-bind="text: ItemCount"></span>
    </div>

  	<p data-bind="if: IsLoggedIn()">
        <span data-key="Welcome">Welcome back</span>&nbsp;
        <span data-bind="text: FirstName"></span>!
  	</p>

    <p class="login" data-bind="if: !IsLoggedIn()">
        <a data-key="LoginAndRegister" data-transform="AllCaps"></a>
        @*<a data-key="Register" data-transform="AllCaps"></a>&nbsp;*@
    </p>

  	<p data-bind="if: !IsHomePage() && IsLoggedIn()">
        <span class="total-cont"data-bind="text: SubTotal"></span>
        <span class="secure-payment" data-key="SecurePayment">Secure Payment</span>
        <span class="order-history"  data-key="OrderHistory">Order History</span>
    </p>

    <p>
        <span data-key="Language"></span>: 
        <a><span data-bind="css: { red: IsEnglish() }, click: ChangeLanguage">ENG</span></a> 
        <a><span data-bind="css: { red: IsSpanish() }, click: ChangeLanguage">SPA</span></a>
    </p>

    <div>
        <input data-bind="value: SearchText" type="search" placeholder="Search" style="width: 200px">
    </div>

    <img src="@Url.Content("~/Content/Images/c7-facebook.png")" width="19" height="18" alt="COLEC7IVA - FACEBOOK" />
    <img src="@Url.Content("~/Content/Images/c7-twitter.png")" width="19" height="18" alt="COLEC7IVA - TWITTER" />
    <img src="@Url.Content("~/Content/Images/c7-pinterest.png")" width="19" height="18" alt="COLEC7IVA - PINTEREST" />

  	<small>
        <a><strong data-key="TermsOfService"></strong></a>
        <a data-bind="if: IsAdministrator()">
            <strong data-key="AdminAccess" data-bind="click: GoToAdmin"></strong>
        </a>
        ©2013 COLEC7IVA <span data-key="AllRightsReserved">All rights reserved</span>.
  	</small>

</footer>


@Html.Partial("Login")